<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="name">Nome</label>
        <input
          type="text"
          class="form-control"
          id="name"
          required
          [(ngModel)]="products.name"
          name="name"
        />
      </div>

      <div class="form-group">
        <label for="height">Altura</label>
        <input
          type="number"
          class="form-control"
          id="height"
          required
          [(ngModel)]="products.height"
          name="height"
        />
      </div>

      <div class="form-group">
        <label for="width">Largura</label>
        <input
          type="number"
          class="form-control"
          id="width"
          required
          [(ngModel)]="products.width"
          name="width"
        />
      </div>

      <div class="form-group">
        <label for="lenght">Comprimento</label>
        <input
          type="number"
          class="form-control"
          id="lenght"
          required
          [(ngModel)]="products.lenght"
          name="lenght"
        />
      </div>

      <div class="form-group">
        <label for="price">Valor</label>
        <input
          type="number"
          class="form-control"
          id="price"
          required
          [(ngModel)]="products.price"
          name="price"
        />
      </div>

      <button (click)="saveProducts()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Produto cadastrado com sucesso!</h4>
      <button class="btn btn-success" (click)="newProducts()">Add</button>
    </div>
  </div>
</div>
