<div *ngIf="viewMode">
  <div *ngIf="currentProduct.id">
    <h4>Detalhes</h4>
    <div>
      <label><strong>Nome:</strong></label> {{ currentProduct.name }}
    </div>
    <div *ngIf="currentProduct.height">
      <label><strong>Altura:</strong></label>
      {{ currentProduct.height | mask: 'separator.3' }}
    </div>
    <div *ngIf="currentProduct.width">
      <label><strong>Largura:</strong></label>
      {{ currentProduct.width | mask: 'separator.3' }}
    </div>
    <div *ngIf="currentProduct.lenght">
      <label><strong>Comprimento:</strong></label>
      {{ currentProduct.lenght | mask: 'separator.3' }}
    </div>
    <div  *ngIf="currentProduct.price">
      <label><strong>Valor:</strong></label>
      {{ currentProduct.price  | mask: 'separator.2' }}
    </div>
  </div>
  <a  *ngIf="currentProduct.id"
    class="m-3 btn btn-sm btn-danger"
    (click)="deleteProduct()"
  >
    Remover
  </a>

  <div *ngIf="!currentProduct.id">
    <br />
    <p>Por favor selecione um produto...</p>
  </div>
</div>
