
.toast {
  opacity: 1 !important;
}
.container-lg {
  text-align: left;
  margin: auto;
}

.modal-backdrop {
  /* bug fix - no overlay */
  display: none;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/logistics-background.jpg);
}
